@charset "UTF-8";
body{
	background-color: #ffffff;
	
}

#s1{
	font-size: 350%;
	text-align: left;
	
}

#s2{
	border-color: #000;
	border-style: solid;
	text-align: center;
	padding-right: 100px;
	padding-left: 100px;
	margin-left: 450px;
	font-size: 200%;
}

.task{
	margin-top: 200px;
}

#s3{
	border-color: #000;
	border-style: solid;
	text-align: center;
	padding: 25px 25px;
	margin-left: 25px;
	font-size: 200%;
}

#s4{
	border-color: #000;
	border-style: solid;
	text-align: center;
	padding: 25px 25px;
	font-size: 150%;
}

.button{
	display: flex;
}

#s5{
	text-align: center;
	font-size: 200%;
	margin-top: 200px;
	margin-left: 1100px;
	border-color: #ffa500;
	background-color: #ffa500;
	padding: 10px;
}

#s6{
	text-align: center;
	font-size: 200%;
	margin-top: 200px;
	margin-left: 100px;
	border-color: #ffa500;
	background-color: #ffa500;
	padding: 10px;
}