@charset "UTF-8";
body{
	background-color: #ffffff;
	
}

#s1{
	font-size: 350%;
	text-align: left;
	
}

.c1{
	font-size: 300%;
}

#button1{
	border-color: #ffa500;
	background-color: #ffa500;
	font-size: 200%;
	text-align: right;
	margin-left: 1200px;
}

#button2{
	border-color: #ffa500;
	background-color: #ffa500;
	font-size: 200%;
	text-align: right;
	margin-left: 1300px;
	margin-top: 85px;
}

textarea{
	resize: none;
	text-align: left;
	font-size: 300%;
	margin-left: 50px;
}